<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967178533903-b2d2k1rc6mn2af9fkt6qhi2jiltar96c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967178533903-b2d2k1rc6mn2af9fkt6qhi2jiltar96c</string>
	<key>API_KEY</key>
	<string>AIzaSyATAqOi4MwpE3XGmiVl6Ry9PWxJsDCruzo</string>
	<key>GCM_SENDER_ID</key>
	<string>967178533903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.veloplan</string>
	<key>PROJECT_ID</key>
	<string>veloplan-b41d0</string>
	<key>STORAGE_BUCKET</key>
	<string>veloplan-b41d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967178533903:ios:c851a8a069eafe8032777a</string>
</dict>
</plist>